.profile {
    padding-top: 12px;
}

.profile img {
}

.profile .preferences li {
    height: 34px;
}

.search .profiles {
    background-color: transparent
}

.search .profiles a{
    background-color: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}