

.dark {
  background-color:#c0392b;
  color:white;
}


nav.navbar {
  background-image:linear-gradient(to bottom,#e74c3c 0,#c0392b 100%);
  border-bottom-color: #c0392b;
}

nav.navbar .active {
  background-color: #e74c3c;
}

div.main h2 {
  color: #F8F8F8;
}

div.secondary h1,
div.secondary h2,
div.secondary h3,
div.secondary h4,
div.secondary h5,
div.secondary h6,
 {
  color: #c0392b;
}

div.iphone {
  background-image: url('/img/iphone.png');
  background-repeat: no-repeat;
}

div.secondary {
  background-color: white;
}

div.rounded {
  border-color: #e74c3c
}

.transparent {
  font-size: 90px;
  color: #e74c3c;
  opacity: 0.2;
}
