<div class="container profile">
  <div class="row">
    <div class="col-xs-5">
      <img ng-src="{{profile.picture}}" alt="{{profile.username}}" class="img-rounded"/>
    </div>
    <div class="col-xs-7  ">
      <h3>{{profile.username}}</h3>

      <p class="lead">{{profile.description}}</p>
    </div>
  </div>
  <div class="row">
    <!--div class="col-xs-12">
      <ul class="list-unstyled preferences">
        <li><switch  ng-model="preferences.anal" class="pull-right"></switch> <h4>Anal</h4></li>
        <li><switch  ng-model="preferences.partouze" class="pull-right"></switch> <h4>Partouze</h4></li>
        <li><switch  ng-model="preferences.club" class="pull-right"></switch> <h4>Club</h4></li>
      </ul>
    </div-->
  </div>
</div>
