<script type="text/javascript">ga('send', 'home');</script>

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">leeloo</h1>
            <p class="tagline">Une application mobile pour faciliter les rencontres libertines</p>
            <p>
                <a class="btn btn-default btn-lg" role="button" href="/#/signup">Créer un profil</a>
                <a class="btn btn-action btn-lg" role="button"  data-toggle="modal" data-target="#downloadApp">Télécharger l'application</a>
            </p>
        </div>
    </div>
</header>
<!-- /Header -->


<!-- Intro -->
<div class="container text-center">
    <br> <br>
    <h2 class="thin">Encore un site libertin ?! Non</h2>
    <p class="text-muted">Leeloo a une approche radicalement différente des autres sites libertins. Chez leeloo, nous croyons au libertinage simple, facile et adapté à nos vies où le temps est un luxe.</p>

    <p class="text-muted">Leeloo c'est l'union de Songza et Tinder au service des libertins qui ne veulent pas passer des heures sur un site internet ou sont agacés d'avoir 150 favoris qu'ils ne recontreront jamais. Notre application mobile a été conçu pour ceux qui veulent faire des rencontres impulsives, au moment où ils sont d’humeur coquine, sans avoir à planifier pendant des jours.</p>

    <p class="text-muted">Leeloo, c’est une promesse de rencontre libertine ce soir, alors que la gardienne arrive dans 30 minutes.</p>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">Pourquoi utiliser Leeloo ?</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-map-marker fa-5"></i>G&eacute;olocalis&eacute;</h4></div>
                <div class="h-body text-center">
                    <p>leeloo utilise la géolocalisation de votre téléphone pour vous aider à trouver les libertins autour de votre position actuelle: à la maison, dans une soirée ennuyeuse ou en fin de semaine à la campagne</p>
                </div>
                <div class="poll">
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'geolocalisation', 'like');">
                        <span class="glyphicon glyphicon-thumbs-up"></span>J'aime
                    </button>
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'geolocalisation', 'dislike');">
                        <span class="glyphicon glyphicon-thumbs-down"></span>Non merci
                    </button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-link fa-5"></i>Cercle s&eacute;lectif</h4></div>
                <div class="h-body text-center">
                    <p>leeloo garantit des gens fiables, recommandés, experimentés et prêts à passer à l'action.</p>
                    <p>leeloo est une communauté sélective où seules les personnes recommandées par un membre et acceptées par un ambassadeur de leeloo pourront obtenir le code d'activation pour application mobile.</p>
                    <p>L'objectif est de vous permettre de rencontrer de nouveaux partenaires en toute confiance, sécurité et confidentialité.</p>
                </div>
                <div class="poll">
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'cercle', 'like');">
                        <span class="glyphicon glyphicon-thumbs-up"></span>J'aime
                    </button>
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'cercle', 'dislike');">
                        <span class="glyphicon glyphicon-thumbs-down"></span>Non merci
                    </button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-usd fa-5"></i>Pas de paiement par mois</h4></div>
                <div class="h-body text-center">
                    <p>leeloo ne souhaite pas vous mettre un nouvel abonnement mensuel sur les épaules. Vous en payez probablement déjà un sur un autre site libertin , il serait fatiguant de devoir en payer un deuxième!</p>
                    <p>leeloo vous propose un simple système de crédits, que vous utilisez quand vous le souhaitez. Pas besoin de choisir entre l'abonnement silver, gold ou premium. Vous payez juste ce que vous utilisez.</p>
                </div>
                <div class="poll">
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'pricing', 'like');">
                        <span class="glyphicon glyphicon-thumbs-up"></span>J'aime
                    </button>
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'pricing', 'dislike');">
                        <span class="glyphicon glyphicon-thumbs-down"></span>Non merci
                    </button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>100% libertin</h4></div>
                <div class="h-body text-center">
                    <p>leeloo est une application faite pour les libertins du Québec, par des libertins du Québec.</p>
                    <p>Toutes les personnes impliquées dans notre projet sont libertines. Toutes. Sans exceptions.</p>
                    <p>Parce que nous pensons que les libertins comprennent mieux ce dont les libertins ont besoin.</p>
                </div>
                <div class="poll">
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'libertin', 'like');">
                        <span class="glyphicon glyphicon-thumbs-up"></span>J'aime
                    </button>
                    <button type="button" class="btn btn-default btn-xs" onclick="ga('send', 'event', 'libertin', 'dislike');">
                        <span class="glyphicon glyphicon-thumbs-down"></span>Non merci
                    </button>
                </div>
            </div>
        </div> <!-- /row  -->

        <div class="row">
            <div class="col-md-12 col-sm-12 highlight">
                <p class="text-center">
                    <a class="btn btn-action btn-sm btn-signup" role="button" href="/#/signup">J'aime l'idée et je voudrais m'inscrire</a>
               </p>
            </div>
        </div>

    </div>
</div>
<!-- /Highlights -->


<!-- Modal ga('send', 'event', 'app', 'download');-->
<div class="modal fade" id="downloadApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">En cours de développement</h4>
            </div>
            <div class="modal-body">
                <p>L'application mobile Leeloo est en cours de développement.</p>
                <p>Nous travaillons a vous offrir la possiblité de voir qui est libre ce soir autour de votre position actuelle parmi les utilisateurs de Leeloo, et de vous permettre de les rencontrer</p>
                <p>Laissez nous votre email si vous souhaitez etre prevenu quand elle sera disponible</p>

                <form>
                    <div class="row top-margin">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">@</div>
                                    <input type="email" class="form-control" name="email" ng-model="email" placeholder="Entrez votre email (optionel)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" ng-click="download()">J'ai hâte !</button>
            </div>
        </div>
    </div>
</div>

