<!-- Intro -->
<div class="container text-center">
    <br> <br>
    <h2 class="thin">Encore un site libertin ?! Non</h2>
    <p class="text-muted">Glidr a une approche radicalement différente des autres sites libertins. Chez Flink, nous croyons au libertinage simple, facile et adapté à nos vies où le temps est un luxe.</p>

    <p class="text-muted">Flink c'est l'union de Songza et Tinder au service des libertins qui ne veulent pas passer des heures sur un site internet ou sont agacés d'avoir 150 favoris qu'ils ne recontreront jamais. Notre application mobile a été conçu pour ceux qui veulent faire des rencontres impulsives, au moment où ils sont d’humeur coquine, sans avoir à planifier pendant des jours.</p>

    <p class="text-muted">Flink, c’est une promesse de rencontre libertine ce soir, alors que la gardienne arrive dans 30 minutes.</p>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">Pourquoi utiliser Glidr</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-map-marker fa-5"></i>G&eacute;olocalis&eacute;</h4></div>
                <div class="h-body text-center">
                    <p>Flink utilise la géolocalisation de votre téléphone pour vous aider à trouver les libertins autour de votre position actuelle: à la maison, dans une soirée ennuyeuse ou en fin de semaine à la campagne</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-link fa-5"></i>Cercle s&eacute;lectif</h4></div>
                <div class="h-body text-center">
                    <p>Flink garantit des gens fiables, recommandés, experimentés et prêts à passer à l'action.</p>
                    <p>Flink est une communauté sélective où seules les personnes recommandées par un membre et acceptées par un ambassadeur de Flink pourront obtenir le code d'activation pour application mobile.</p>
                    <p>L'objectif est de vous permettre de rencontrer de nouveaux partenaires en toute confiance, sécurité et confidentialité.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-usd fa-5"></i>Pas de paiement par mois</h4></div>
                <div class="h-body text-center">
                    <p>Flink ne souhaite pas vous mettre un nouvel abonnement mensuel sur les épaules. Vous en payez probablement déjà un sur un autre site libertin , il serait fatiguant de devoir en payer un deuxième!</p>
                    <p>Flink vous propose un simple système de crédits, que vous utilisez quand vous le souhaitez. Pas besoin de choisir entre l'abonnement silver, gold ou premium. Vous payez juste ce que vous utilisez.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>100% libertin</h4></div>
                <div class="h-body text-center">
                    <p>Flink est une application faite pour les libertins du Québec, par des libertins du Québec.</p>
                    <p>Toutes les personnes impliquées dans notre projet sont libertines. Toutes. Sans exceptions.</p>
                    <p>Parce que nous pensons que les libertins comprennent mieux ce dont les libertins ont besoin.</p>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->

<!-- container -->
<div class="container">

    <h2 class="text-center top-space">Frequently Asked Questions</h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>Which code editor would you recommend?</h3>
            <p>I'd highly recommend you <a href="http://www.sublimetext.com/">Sublime Text</a> - a free to try text editor which I'm using daily. Awesome tool!</p>
        </div>
        <div class="col-sm-6">
            <h3>Nice header. Where do I find more images like that one?</h3>
            <p>
                Well, there are thousands of stock art galleries, but personally,
                I prefer to use photos from these sites: <a href="http://unsplash.com">Unsplash.com</a>
                and <a href="http://www.flickr.com/creativecommons/by-2.0/tags/">Flickr - Creative Commons</a></p>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-sm-6">
            <h3>Can I use it to build a site for my client?</h3>
            <p>
                Yes, you can. You may use this template for any purpose, just don't forget about the <a href="http://creativecommons.org/licenses/by/3.0/">license</a>,
                which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Can you customize this template for me?</h3>
            <p>Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.</p>
        </div>
    </div> <!-- /row -->

    <div class="jumbotron top-space">
        <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
        <p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
    </div>

</div>	<!-- /container -->