<script type="text/javascript">ga('send', 'signup');</script>

<!-- container -->
<div class="container">

    <div class="row" style=" margin-top: 140px">
        <!-- Article main content -->
        <article class="col-lg-10 maincontent">

            <div>
                <div class="panel panel-default" style="position: relative;">
                    <div class="panel-body"  data-spy="scroll" data-target="#enregNavbar" data-offset="0" >
                        <h2>Le Manisfeste</h2>

                        <p class="lead">L’objectif de ce Manifeste n’est pas de donner des leçons, mais plutôt de dresser des valeurs communes à la plupart des échangistes. La plupart des points relève du bon sens.</small></p>

                        <h3>Confidentialité</h3>
                        <p>La majorité des échangistes préfèrent garder l’anonymat, et éviter de dévoiler à la famille, amis et collègues de travail leur «double vie secrète». Ils chercheront aussi à protéger leur identité virtuelle pour ne pas voir leurs photos coquines apparaître sur un site porno ou pire encore sur leur profil Facebook personnel. C’est pourquoi un des fondements de la communauté Leeloo est le respect de la confidentialité des autres membres.</p>
                        <p>Leeloo est un cercle fermé, sur invitation. Pour y accéder, il est nécessaire d’avoir été rencontré personnellement par un couple membre. Celui-ci se porte garant du couple invité et de l’exactitude d’une photo de profil. Ceci afin de s’assurer que la communauté ne compte que de réels profils, résolument échangistes.</p>
                        <p>Lors de rencontres privées ou de soirées, les membres de la communauté Leeloo s’engagent à ne pas prendre de photos/vidéos, à moins d’un consentement de toutes les personnes présentes. De même, toute photo publiée dans l’application reste la propriété du couple qui y apparaît, le téléchargement des photos des profils des membres n’est certes pas possible dans l’application, mais il est formellement interdit d’en faire une capture d’écran ou d’en prendre une photo, que ce soit pour la diffuser ou même pour la conserver pour usage personnel.</p>
                        <p>Si un couple vous révèle leur noms réels et/ou leur coordonnées, il s’agit là d’informations confidentielles qu’il ne vous est pas permis de divulguer. De même, si vous croisiez le profil d’une connaissance, il va de soi que vous ne devriez pas le dévoiler à son entourage.</p>

                        <div class="panel panel-leeloo ">
                            <div class="panel-heading">
                                <h3 class="panel-title">Facebook </h3>
                            </div>
                            <div class="panel-body">
                                <p>Le milieu échangiste devient de plus en plus présent sur Facebook. Toutefois, contrairement à d’autres applications libertines, nous avons fait le choix de ne pas lier Leeloo à un profil Facebook, ceci afin de ne pas dépendre des politiques de confidentialité de Facebook, que nous jugeons trop permissives. Bien entendu, afin de préserver l’anonymat, plusieurs couples créent un profil Facebook de couple pour leur vie libertine, en plus de leurs profils personnels, et c’est tant mieux. Toutefois, deux raisons nous retiennent de lier Leeloo à Facebook : la prolifération des faux profils Facebook (et la facilité qu’ils ont à se faire accepter par nos contacts), et le fait qu’on ne peut jamais être certain que les paramètres de confidentialité de nos contacts sont correctement configurés.</p>
                                <p>Les réseaux sociaux traquent votre activité afin de vendre vos données à des publicitaires, qui les utilisent pour vous présenter des publicités ciblées. Leeloo ne vend pas vos données et ne présente pas de publicités.</p>
                            </div>
                        </div>


                        <h3>Sécurité et Hygiène</h3>
                        <p>Comme toute activité sexuelle, l’échangisme comporte des risques. Les membres de la communauté Leeloo s’engagent à tout mettre en œuvre pour limiter ces risques au minimum.</p>
                        <p>Même si de rares couples sont adeptes du sexe sans condom, l’application Leeloo n’est pas pour eux. Les hommes de la communauté Leeloo s’engagent à utiliser un préservatif pour toute pénétration extra-conjugale. Ils s’engagent à changer celui-ci entre chaque partenaire, à le lubrifier pour éviter qui ne se casse, et à le vérifier soigneusement une fois l’acte terminé pour s’assurer qu’il est intact. À ce sujet, quelques femmes sont allergiques au latex ou au sillicone; pour éviter toute surprise, il est toujours bon d’utiliser des préservatifs sans latex et des lubrifiants à l’eau.</p>
                        <p>On ne le répètera jamais assez, le lavage des mains avant de s’amuser n’est pas optionnel, c’est obligatoire ! Et c’est encore plus vrai en soirées à plusieurs couples : messieurs, on se lave les mains entre chaque partenaire et mesdames, n’hésitez pas demander si monsieur l’a bien fait. Vous souhaitez vous occuper de deux femmes en même temps ? Eh bien, vous avez une main droite et une main gauche, ne les inversez pas en cours de route !</p>
                        <p>Les membres de la communautée Leeloo s’engagent à faire des tests de dépistage de façon régulière. Une prescription pour un tel test peut facilement être obtenue auprès d’un CLSC, médecin de famille ou gynécologue, simplement en lui déclarant avoir eu un «rapport sexuel à risque». Dans le cas où vous seriez diagnostiqué d’une MTS, vous vous engagez à cesser toute activité libertine tant que vous n’êtes pas guérit, ainsi qu’à aviser tous vos précédents partenaires sexuels.</p>
                        <p>Il va de soi que les échangistes préfèrent les couples qui prennent soin d’eux, se maintiennent en forme et ont une hygiène irréprochable. Sans qu’il s’agisse d’une obligatoire beaucoup préfèrent aussi les pubis épilés.</p>

                        <h3>Respect</h3>
                        <p>Le respect est une des bases fondamentales de l’échangisme, et il prend diverses formes.</p>
                        <p>L’une d’elles est de prendre le temps de discuter des limites de tous et chacun, de les comprendre et de ne pas les outrepasser. Ces limites évoluent avec le temps, et plus le couple échangiste prend de l’expérience, plus il saura précisément ce qu’il juge acceptable ou non. Ces règles peuvent aussi évoluer en cours de soirée, en fonction du niveau de confiance et de la chimie du groupe. Dans ce contexte, il peut être difficile d’établir les limites, mais on y parvient en étant à l’écoute des signes qui indiquent qu’une personne n’est pas à l’aise avec une situation, et en ne se montrant pas chasseur, insistant ou oppressant.</p>
                        <p>Plusieurs couples échangistes conviennent d’un signe permettant de signifier à son conjoint «je ne suis pas totalement à l’aise, j’aimerais qu’on se retrouve tous les deux quelques instants». Sachant que notre conjoint peut à tout moment nous signifier un malaise, nous sommes alors assurés que s’il ne le fait pas, c’est que tout va bien. Ce signe permet aussi d’effectuer de léger ajustements en cours de soirée avant qu’un malaise de devienne trop important, sans devoir en arriver à interrompre la soirée.</p>
                        <p>La règle de base étant que personne ne doit se sentir obligé à quoi que ce soit, et que chacun est libre de partir à tout moment.</p>
                        <p>Une autre forme de respect est d’accepter le refus. Chacun ses goûts, personne ne plaira à tout le monde, c’est pourquoi il faut prendre un «non merci» en toute humilité sans demander d’explication. Il en coûte déjà beaucoup à la personne qui le dit et qui n’a aucune envie de blesser, qu’il est inutile de lui demander de se justifier.</p>
                        <p>Pour la même raison que chacun a des goûts différents, le respect implique de ne pas parler en mal des autres, de ne pas entacher leur réputation. Si un couple ne vous plait pas, ou qu’une soirée avec eux s’est avérée décevante, rien ne dit qu’il ne plaira pas à vos amis et qu’ils ne passeront pas une bonne soirée, il serait peut-être préférable de les laisser en juger par eux-même.</p>
                        <p>Une soirée échangiste est un partage entre plusieurs personnes. De façon générale, une soirée échangiste réussie implique que tout le monde prenne du plaisir et que personne ne se sente mis à l’écart. Une fois dans l’action, il est parfois difficile de remarquer qu’une personne se sent exclue, ou qu’elle a un problème passager (une érection difficile par exemple). Avec le temps, on apprend à être plus à l’écoute des signes et à savoir faire les ajustements nécessaires.</p>
                        <p>Entre autres ajustements, il s’agit parfois de faire une pause, ralentir le rythme, faire durer davantage les préliminaires, tamiser les lumières, prendre le temps de se créer une bulle d’intimité, changer de position, passer en chambres séparées…</p>

                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Enregistrer un profil</h3>
                        <p>La fonctionalit&eacute; de cr&eacute;ation de profils n'est pas encore active, car elle n'est pas encore prete et nous tenons a vous offrir une experience de tres bonne qualit&eacute;</p>
                        <p>Cependant, si vous souhaitez faire partie de la communauté Leeloo, faites-nous le savoir en cliquant sur le lien ci-dessous. Vous pouvez laisser votre email si vous souhaitez etre prévenus quand l'inscription sera enfin disponible.</p>

                        <form>
                             <div class="row top-margin">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">@</div>
                                            <input type="email" class="form-control" name="email" ng-model="email" placeholder="Tapez votre email (optionel)"/>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                     <a class="btn btn-action btn-sm btn-signup" role="button" ng-click="signup()">Prévenez moi quand c'est prêt !</a>
                                 </div>
                            </div>
                        </form>
                    </div>
                </div>

                        <!--
                        <hr>

                        <form name="signupForm" ng-submit="submitForm(signupForm.$valid)" novalidate>
                            <div class="top-margin">
                                <label>Profil <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="username" ng-model="profile.username" required>
                                <span class="error" ng-show="signupForm.username.$error.required">Le profil est necessaire</span>
                            </div>
                            <div class="top-margin">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="email" ng-model="profile.email" required>
                                <span class="error" ng-show="signupForm.email.$error.required">L'email est necessaire</span>
                            </div>

                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    <label>Mot de passe <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="password" ng-model="profile.password" required>
                                    <span class="error" ng-show="signupForm.password.$error.required">Le mot de passe est necessaire</span>
                                </div>
                                <div class="col-sm-6">
                                    <label>Confirmation du mot de passe <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="passwordConfirm" ng-model="passwordConfirm" required>
                                    <span class="error" ng-show="signupForm.passwordConfirm.$error.required">Le mot de passe doit etre confirmeé</span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">

                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit" ng-click="save()">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                        -->

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->