<script type="text/javascript">ga('send', 'signup');</script>

<!-- container -->
<div class="container">

    <div class="row" style=" margin-top: 140px">
        <!-- Article main content -->
        <article class="col-lg-10 maincontent">

            <div>
                <div class="panel panel-default" style="position: relative;">
                    <div class="panel-body"  data-spy="scroll" data-target="#enregNavbar" data-offset="0" >
                        <h3 id="etiquette" class="thin text-center">Etiquette</h3>
                        <p class="text-muted">
                            Faire partie de la communaut&eacute; Glidr est une affaire de confiance, et de s&eacute;cutit&eacute;.
                            Le plaisir de nos membres s'appuie en partie sur le respect de quelques regles simples, qui seront probablement percues comme du bon sens par la plupart d'entre vous.
                        </p>

                        <h5>La politesse</h5>
                        <p class="text-muted"></p>
                        <h5>L'hygiene</h5>
                        <p class=" text-muted"></p>
                        <h5>Les drogues et alcool</h5>
                        <p class="text-muted"></p>

                        <h3 id="conditions" class="thin text-center">Conditions</h3>
                        <p class=" text-muted">
                            La communaute Glidr est sur invitation seulement, et certaines conditions s'appliquent. En faire partie n'est pas un droit mais un choix que vous faites et nous faisons.
                        </p>

                        <h5>L'experience</h5>
                        <p class=" text-muted">
                            Glidr n'est pas concu pour s'addresser aux couples qui en sont a leurs tout debuts d'ans l'echangisme.
                            Le service s'adresse a des couples experimentes qui savent ce qu'ils veulent. Les jeunes et les nouveaux sont les bienvenus, mais si vous evous demander si l'echangisme est pour vous, alors cette application ne repondra pas a vos besoins
                        </p>
                        <p class=" text-muted">
                            Nous travaillons sur une autre application, dediee aux couples qui sont sur le point de tenter l'aventure. Conseils, temoignages, reponses...
                        </p>
                        <h5>L'age</h5>
                        <p class=" text-muted">
                            Glidr ne veut faire aucune discrimination, ni presupposer du comportement d'individu base sur son age. <br/>
                            Glidr est destin&eacute; aux trentenaires dans un sens tres tres large. Large comme de 20 a 45 ans :-). L'objectif n'est pas d'eclure un groupe d'age en particulier, mais de permettre aux membres de GLidr de se retrouver avec des couples qui ont des points en communs avec eux.<br/>
                            Nous nous reservons le droit de refuser l'inscription d'un couple qui nous semblerait tres eloignes de ce qu'attendent les membres.
                        </p>
                        <h5>Le comportement</h5>
                        <p class=" text-muted">
                            La lecture et l'acceptation des regles ci-dessus sont essentielles. Si des membres font etat d'un comportement innacceptable de maniere repetee, le profil GLidr sera ferm&eacute;

                        </p>


                        <h3 id="enregistrement" class="thin text-center">Enregistrer un profil</h3>
                        <p class="text-center text-muted">Une fois le profil cree vous pourrez vous logguer avec l'application mobile. </p>
                        <hr>

                        <form name="signupForm" ng-submit="submitForm(signupForm.$valid)" novalidate>
                            <div class="top-margin">
                                <label>Profil <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="username" ng-model="profile.username" required>
                                <span class="error" ng-show="signupForm.username.$error.required">Le profil est necessaire</span>
                            </div>
                            <div class="top-margin">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="email" ng-model="profile.email" required>
                                <span class="error" ng-show="signupForm.email.$error.required">L'email est necessaire</span>
                            </div>

                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    <label>Mot de passe <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="password" ng-model="profile.password" required>
                                    <span class="error" ng-show="signupForm.password.$error.required">Le mot de passe est necessaire</span>
                                </div>
                                <div class="col-sm-6">
                                    <label>Confirmation du mot de passe <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="passwordConfirm" ng-model="passwordConfirm" required>
                                    <span class="error" ng-show="signupForm.passwordConfirm.$error.required">Le mot de passe doit etre confirmeé</span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">

                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit" ng-click="save()">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->